/* Definindo as cores principais para um estilo mais inspirado no Teemo */
:root {
    --light-bg: #e0f7fa; /* Cor de fundo suave, remetendo à natureza */
    --light-gray: #d1d1d1; /* Cinza claro */
    --white: #ffffff; /* Branco */
    --green: #66bb6a; /* Verde - Cor vibrante associada à natureza e ao Teemo */
    --brown: #3e2723; /* Marrom - Combinando com o ambiente de floresta */
    --dark: #f6f6f7; /* Cinza escuro, mais sóbrio */
    --green-hover: #81c784; /* Verde mais claro para hover */
}

/* Estilo básico para o corpo da página */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--dark);
    color: var(--white);
    background: url('../IMG/background-runas.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Garantir que o corpo ocupe toda a altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden; /* Evitar rolagem horizontal */
}

/* Links */
a:link, a:visited, a:hover, a:active {
    color: var(--dark);
}

/* Barra de navegação superior (menu) */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(12, 9, 9, 0.7); /* Fundo suave */
    backdrop-filter: blur(40px); /* Efeito de desfoque */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidade com Safari */
    z-index: 100;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: var(--dark);
    text-decoration: none;
    font-size: 1.1em;
    padding: 5px 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: var(--green-hover);
    color: var(--white);
}

/* Caixa de login/registro */
.login-register-box {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 200;
}

.login-register-box a {
    color: var(--white);
    text-decoration: none;
    font-size: 1em;
    margin: 0 10px;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.login-register-box a:hover {
    background-color: var(--green-light);
    color: var(--brown);
}

/* Exibindo as informações do usuário */
.user-info {
    position: fixed;
    top: 20px;
    left: 20px;
    color: var(--green-light);
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

/* Avatar do Usuário */
#user-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    border: 2px solid var(--green-light);
    transition: transform 0.3s ease;
}

#user-avatar:hover {
    transform: scale(1.1);
}

/* Caixa de logout */
#logout-btn {
    background-color: var(--green-light);
    color: var(--white);
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: none;
    transition: background-color 0.3s ease;
}

#logout-btn:hover {
    background-color: var(--yellow);
}

/* Exibindo a caixa de login/registro ou informações do usuário */
#login-register-box {
    display: block;
}

#user-info {
    display: none;
}

/* Seção Builds */
.builds {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    margin-top: 80px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 1200px;
    text-align: center;
    flex-grow: 1; /* Permite que a caixa de builds cresça e ocupe o espaço disponível */
}

.builds h1 {
    color: var(--yellow);
    font-size: 3em;
    margin-bottom: 20px;
}

.builds p {
    font-size: 1.2em;
    color: var(--white);
}

.builds ul {
    font-size: 1.2em;
    color: var(--white);
    list-style-type: none;
    padding: 0;
}

.builds ul li {
    margin: 10px 0;
}

/* Rodapé */
footer {
    background-color: rgba(30, 30, 30, 0.8);
    color: var(--white);
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    position: relative; /* Agora o rodapé ficará no final da página */
}
